* {
    box-sizing: border-box;
}

#form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 10%;
    flex-direction: column;
    margin-bottom: 10%;
    background: rgba( 46, 3, 3, 0.40 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.0px );
    -webkit-backdrop-filter: blur( 2.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.heading{
    text-transform: uppercase;
    text-shadow: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.header{
    display: none;
    
}
body{
    background-image: url(https://picsum.photos/1920);
    background-size: cover;
    padding: 5% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

.button{
    background: rgba( 255, 255, 255, 0.75 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9.5px );
    -webkit-backdrop-filter: blur( 9.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.form-group{
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-input {
    border-radius: 59px;
    background: #475e6c;
    box-shadow: inset 11px 11px 23px #3c505c, inset -11px -11px 23px #526c7c;
    padding: 10%;
    border: none;
    outline: none;
    color: white;
}

.form-input::placeholder{
    color: white;
}

.button{
    background: rgba( 255, 255, 255, 0.90 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 14.5px );
    -webkit-backdrop-filter: blur( 14.5px );
    border-radius: 59px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border: none;
    outline: none;
    color: black;
    padding: 2% 5%;
    text-transform: uppercase;
}

.button:hover{
    border-radius: 59px;
    background: linear-gradient(145deg, #405561, #4c6574);
    box-shadow: 11px 11px 23px #3c505c, -11px, -11px, 23px #526c7c;
}

.ball {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    /*   animation: spinny 3s linear infinite; */
  }
  
  .ball1 {
    grid-column: 1;
    grid-row: 1;
    z-index: -1;
    justify-self: flex-end;
    margin-right: -40px;
    animation: moveDown 3s linear infinite;
  }
  .ball2 {
    grid-column: 3;
    grid-row: 3;
    z-index: -1;
    margin-left: -40px;
    animation: moveUp 4s linear infinite;
  }
  .ball3 {
    grid-column: 1;
    grid-row: 3;
    justify-self: flex-end;
    margin-right: -40px;
    animation: moveUp 5s linear infinite;
  }
  .ball4 {
    grid-column: 3;
    grid-row: 1;
    margin-left: -40px;
    animation: moveDown 6s linear infinite;
  }
  
  @keyframes moveDown {
    0%,
    100% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 70vh);
    }
  }
  
  @keyframes moveUp {
    0%,
    100% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, -70vh);
    }
  }